# ----------------------
# Ambiente virtual Python
# ----------------------
.venv/
env/
venv/

# ----------------------
# Cache / Compilados
# ----------------------
_pycache_/
*.pyc
*.pyo
*.pyd
*.pkl

# ----------------------
# Configurações locais
# ----------------------
.streamlit/
*.toml
*.secrets.toml

# ----------------------
# Banco de dados e dados locais
# ----------------------
*.db
*.sqlite3
data/
!data/exports/           # se quiser manter só os txt de exportação

# ----------------------
# Arquivos sensíveis
# ----------------------
client_secret.json
token.json

# ----------------------
# Logs e temporários
# ----------------------
*.log
*.tmp
*.temp
*.bak
*.swp
*.DS_Store
Thumbs.db